@import url('https://fonts.xz.style/serve/fira-code.css');

:root {
  --nc-font-sans: 'Fira Code', monospace;
  --nc-font-mono: 'Fira Code', monospace;
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #000000;
  --nc-bg-2: #000d1f;
  --nc-bg-3: #002958;
  --nc-lk-1: #00ffd5;
  --nc-lk-2: #00c2a2;
  --nc-lk-3: #dd572e;
  --nc-lk-tx: #000000;
  --nc-ac-1: #00ffd9;
  --nc-ac-tx: #000000;
}

form {
  background: var(--nc-bg-2);
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.input:has(input:focus) label {
  color: var(--nc-lk-1);
  opacity: 1;
}
label:has(input[type='checkbox']) {
  opacity: 1;
}

input {
  margin: 0;
}
input:focus {
  outline: 2px solid var(--nc-lk-1);
  outline-offset: 2px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--nc-bg-2) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

h1 {
  text-align: center;
  color: #0adb26;
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

p.error {
  color: var(--nc-lk-3);
  margin: 0;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

form h2 {
  margin: 0;
  margin-bottom: 1rem;
}

form p {
  font-size: 1rem;
  margin: 0;
}
